<div class="container mt-4 ">
    <div id="titlerow" class="row text-center">
        <div class="col-2">Name</div>
        <div class="col-2">Description</div>
        <div class="col">Quantity</div>
        <div class="col">Price</div> 
        <div class="col">Brand</div>
        <div class="col">Category</div>
        <div class="col">Image</div>
        <div class="col">Deleted</div>
        <div class="col">Date added</div>
        <div class="col">Edit</div>
    </div>
    <% products.forEach(product => {%>
        <div id="itemRow" class="row text-center mt-3">
            <div class="col-2"><p><%=product.name%></p></div>
            <div class="col-2"><p><%=product.description%></p></div>
            <div class="col"><p><%=product.quantity%></p></div>
            <div class="col"><p><%=product.price%></p></div>
            <div class="col"><p><%=product.Brand%></p></div>
            <div class="col"><p><%=product.Category%></p></div>
            <div class="col"><img id="productsimg" src="<%=product.imgurl%>" alt='product'></div>
            <div class="col"><p><%=product.deletedAt!=0%></p></div>
            <div class="col"><p><%=product.createdAt%></p></div>
            <div class="col">
                <button id="deletebtn" class="rounded" onclick="deleteProduct(<%=product.id%>)"><i class="bi bi-fire"></i></button>
                <button id="updatebtn" class="rounded" data-bs-toggle="modal" data-bs-target="#productsModal" aria-label="alterProduct" data-bs-whatever="<%=JSON.stringify(product)%>"><i class="bi bi-brush"></i></button>
            </div>
        </div>   
    <%})%>
</div>